<p id="notice"><%= notice %></p>

<p>
  <b>Color:</b>
  <%= @vehicle.color %>
</p>

<p>
  <b>Year:</b>
  <%= @vehicle.year %>
</p>

<p>
  <b>License plate number:</b>
  <%= @vehicle.license_plate_number %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
